# OS
Thumbs.db
.DS_Store

# Solution
obj
bin
*.userprefs
*.user
TestResults
coverage

# IDEs
packages
.vs
.vscode
.idea
**/Assets/Plugins/Editor/JetBrains
**/Assets/Plugins/Editor/JetBrains.meta

# Unity
**/unity/*/Library
**/unity/*/Temp
**/unity/*/Logs
**/unity/*/UserSettings
**/unity/*/*.sln
*.unitypackage
Assembly-CSharp*.csproj
