# OS
Thumbs.db
.DS_Store

# Solution
obj
bin
*.userprefs
*.user
test-results

# IDEs
packages
.vs
.vscode
.idea
**/Assets/Plugins/Editor/JetBrains
**/Assets/Plugins/Editor/JetBrains.meta

# Unity
Library
Temp
*.unitypackage
Assembly-CSharp*.csproj

# Custom
Build
**/Assets/Libraries
**/Assets/Libraries.meta
Tests/Unity/CodeGenerator/Jenny
Tests/Unity/CodeGenerator/Jenny-Auto-Import
Tests/Unity/CodeGenerator/Jenny-Auto-Import.bat
Tests/Unity/CodeGenerator/Jenny-Server
Tests/Unity/CodeGenerator/Jenny-Server.bat
